/* External CSS */



  body
  {
    background-color: #d3d3d3;
  }

  hr
  {
    background-color: #2f4f4f;
    border-style: inset;
    height: 2px;
    /* border-style: dotted none none none;
    border-color: grey;
    width: 5%;
    border-width: 5px; */

  }

  h1
  {
    color: #2f4f4f;
  }

  h3
  {
    color: #2f4f4f;
  }
